@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Default Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="row">
        @TempData["value"]
    </div>

    <div class="events">
        @foreach (var e in ViewBag.ImageList)
           {
        <div class="event">
            <div class="event-thumb-container">
                <img src="~/img/@e" alt="thumbnail" class="event-thumbnail" />
            </div>
            <div class="event-description">
                <p class="event-name">Evento 1</p>
                <p class="event-name">$ 1500</p>
                <p class="event-rating">Rating: 4.3</p>
            </div>
        </div>
    }
    </div>

    @section Scripts
{
    }
