@model DAO.Entities.AddUserModel

@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Agregar usuario";
}

<div class="row">
    @TempData["Message"]
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="display-4">Agregar usuario</h3>
        <form asp-controller="User" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Repita password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Rol" type="radio" id="Diner"  value="1" />
                <label asp-for="Rol" class="control-label">Diner</label>
                <span asp-validation-for="Rol" class="text-danger"></span>
                <input asp-for="Rol" type="radio" id="Chef" value="2" />
                <label asp-for="Rol" class="control-label">Chef</label>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}