@model List<DAO.Models.Usuario>

@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">User</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>FechaRegistracion</th>
            <th>Acciones</th>
        </tr>
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Nombre</td>
        <td>@user.Email</td>
        <td>@user.Perfil</td>
        <td>@user.FechaRegistracion</td>
        <td><a href="/user/delete/@user.IdUsuario">Borrar</a></td>
        <td><a href="/user/modify/@user.IdUsuario">Modificar</a></td>

    </tr>
        <br /><br />
    }
    </table>

</div>