@model List<DAO.Entities.User>

@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">User</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>FechaRegistracion</th>
            <th>Acciones</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                    <td>@user.Rol</td>
                <td>@user.RegistrationDate</td>
                <td><a href="/user/delete/@user.UserId">Borrar</a></td>
                <td><a href="/user/modify/@user.UserId">Modificar</a></td>

            </tr>
        }
    </table>
    <br />

</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}