@model DAO.Entities.Event

@{
    Layout = "_Anonymous";
    ViewData["Title"] = "Login Page";
}

<div class="row">
    @*@TempData["Message"]*@
</div>

<h4>Archivo subido o evento creado</h4>







@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


